# Основні залежності
Django>=4.2,<5.1
djangorestframework>=3.14.0
django-environ>=0.10.0  # Для роботи з .env файлами
django-cors-headers>=4.3.1  # Для CORS

# База даних (SQLite)
#sqlite3  # Вбудована, пакет не потрібен, але зазначаємо для ясності

# Фільтрація товарів
django-filter>=23.3  # Для фільтрації в DRF

# Асинхронна підтримка (за потреби)
asgiref>=3.7.2  

# Обробка зображень для товарів
Pillow>=10.2.0  

# Логування та безпека
gunicorn>=21.2.0  # WSGI сервер для продакшену
whitenoise>=6.6.0  # Обслуговування статичних файлів
